@define-mixin seperator {
  position: relative;

  &:not(:last-child) {
    padding-right: $baseSize;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% - 2px);

      display: inline-block;

      size: 4px;

      background: color($colorPrimary a(50%));
      border-radius: 50%;
    }
  }

  &:not(:first-child) {
    margin-left: calc($baseSize - 4px);
  }
}

@define-mixin ribbon {
  top: -5px;
  left: 50%;

  size: 65px *;
  margin-left: calc(-65px / 2);
  padding: calc($baseSize * 0.31);

  text-align: center;
  color: $white;

  background: $colorPrimary;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 2px;

    triangle: right-iso pointing-up;
    width: 6px;
    background-color: color($colorPrimary blackness(40%));
  }

  &::before {
    left: -4px;
    transform: rotateZ(135deg);
  }

  &::after {
    right: -4px;
    transform: rotateZ(-135deg);
  }

  time {
    font-family: $fontSpecial;
    font-size: calc($baseSize * 1.5);
  }

  /* Make class display block inside .frame-ribbon */
  .text-small {
    display: block;
  }
}
