input.btn {
  border: none;
}

.btn {
  padding: calc($baseSize / 4) $baseSize;
  font-size: $baseSize;
  font-family: $fontSpecial;
  color: $white;

  background: $colorPrimary;
  border-radius: $radius;
  box-shadow: inset 0 0 0 1px $white;
  border: 1px solid $colorPrimary;

  transition: all .3s ease-in;

  &:focus,
  &:hover {
    color: $white;

    background: color($colorPrimary blackness(40%));
    border-color: color($colorPrimary blackness(40%));
  }
}
