.input-group {
  position: relative;
}

.form-control {
  padding: calc($baseSize / 3) calc($baseSize * 2) calc($baseSize / 3) $baseSize;
  max-width: 100%;
  width: 100%;

  color: $white;

  background: $colorInputBG;
  border: 1px solid $colorInputBG;
  border-radius: $radius;
  box-shadow: inset 0 0 0 1px $white;
}

::-webkit-input-placeholder {
  color: $white;
}

:-moz-placeholder { /* Firefox 18- */
  color: $white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $white;
}

:-ms-input-placeholder {
  color: $white;
}
