/* BOX MODAL */
@for $i from 1 to 10 {
  .mb$i {
    display: block;
    margin-bottom: calc($baseSize * $i);
  }
}

/* SCREEN READER */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* POSITION */
.stick-bottom {
  position: absolute;
  bottom: 0;

  width: calc(100% - 30px);
}
