html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $codGray;
  font-family: $fontPrimary;

  background: $white resolve('greyfloral.png') at-2x;
}

@for $i from 1 to 6 {
  h$i {
    font-weight: 400;
  }
}

a {
  color: $colorPrimary;
  text-decoration: none;

  transition: color .3s ease-in;

  &:focus,
  &:hover {
    color: color($colorPrimary blackness(40%));
  }
}

img {
  max-width: 100%;
}

ul {
  li:not(:last-child) {
    margin-bottom: $baseSize;
  }
}
