.site-header {
  padding: calc($baseSize * 4) 0 $baseSize;

  background: $white resolve('flower.png') repeat-x;

  /* Float right social list in header */
  .social-list {
    float: right;
  }
}

.site-name {
  margin: 0;

  font-family: $fontSpecial;
  font-size: calc($baseSize * 2);
  text-transform: uppercase;

  a {
    color: $colorPrimary;
  }
}

.site-nav {

  .nav {
    @extend clearPaddingAndMargin;

    li {
      @mixin seperator;

      display: inline-block;

      text-transform: uppercase;

      a {
        color: $colorText;
      }
    }
  }
}

.site-footer {

  .extra {
    background: $white;
  }

  .copyright {
    padding: $baseSize 0;

    text-align: center;
  }
}

.site-breadcrumb {
  @extend clearPaddingAndMargin;

  font-family: $fontSpecial;
  font-size: calc($baseSize * 1.2);

  li {
    @mixin seperator;

    display: inline-block;
  }
}

.site-pagination {
  display: flex;

  .p-navigate {
    @mixin buttonPrimary;

    &.disabled {
      background: $boulder;
      border-color: $boulder;
      cursor: not-allowed;
    }
  }

  .p-page-number {
    flex-grow: 1;

    text-align: center;

    li {
      margin: 0 calc($baseSize / 2) calc($baseSize / 2);

      a,
      span {
        display: inline-block;
        size: 33px;

        line-height: 32px;

        border-radius: 50%;
      }

      &.active span,
      a:focus,
      a:hover {
        @extend border;

        color: $white;

        background: $colorPrimary;
      }
    }
  }
}
