@b social-list {

  > li {

    font-size: calc($baseSize * 0.88);
    text-align: center;


    &:not(:last-child) {
      margin-right: calc($baseSize / 2);
    }

    span {
      text-transform: uppercase;
      color: $boulder;
    }

    a {
      display: inline-block;
      size: calc($baseSize * 2);

      color: $white;
      line-height: calc($baseSize * 1.8);

      border-radius: 50%;
      box-shadow: inset 0 0 0 1px $white;
    }
  }

  @m a {

    a {
      background: $pictonBlue;
      border: 1px solid $pictonBlue;
    }
  }

  @m b {

    a {
      background: $chambray;
      border: 1px solid $chambray;
    }
  }

  @m c {

    a {
      background: $deepCerulean;
      border: 1px solid $deepCerulean;
    }
  }

  @m d {

    a {
      background: $chathamsBlue;
      border: 1px solid $chathamsBlue;
    }
  }

  @m e {

    a {
      background: $valencia;
      border: 1px solid $valencia;
    }
  }

  @m f {

    a {
      background: $alizarinCrimson;
      border: 1px solid $alizarinCrimson;
    }
  }

  @m gray {
    > li {

      a {
        color: $boulder;

        border: none;
      }
    }
  }
}
