/* GENERAL */
blockquote {
  position: relative;

  margin: 0;
  padding: calc($baseSize / 2) 0 0 $baseSize;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '\"';
    font-family: $fontSpecial;
    font-size: calc($baseSize * 2);
  }
}

/* LISTS */
.list-inline {
  @extend clearPaddingAndMargin;

  li {
    display: inline-block;
  }
}

.list-unstyle {
  list-style: none;
  @extend clearPaddingAndMargin;
}

/* PARAGRAPHS */
.text-link {
  color: $colorPrimary;
}

/* Make link color like text color */
.text-p-color {
  color: $codGray;

  &:focus,
  &:hover {
    color: $colorPrimary;
  }
}

.text-small {
  font-size: calc($baseSize * 0.75);
}

.text-tiny {
  font-size: calc($baseSize * 0.69);
}

.text-light {
  color: $colorTextLight;
}

.text-special {
  font-family: $fontSpecial;
}
