/* GENERAL */
blockquote {
  position: relative;

  margin: 0;
  padding: calc($baseSize / 2) 0 0 $baseSize;

  &::before,
  &::after {
    position: absolute;

    content: '\"';
    color: $colorPrimary;
    font-family: $fontSpecial;
    font-size: calc($baseSize * 2);
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    right: 0;
    bottom: 0;
    line-height: 0
  }

  cite {
    color: $boulder;

    &::before {
      content: '\2013';
      margin-right: calc($baseSize / 2);
      color: $colorPrimary;
    }
  }
}

/* LISTS */
.list-inline {
  @extend clearPaddingAndMargin;

  li {
    display: inline-block;
  }
}

.list-unstyle {
  list-style: none;
  @extend clearPaddingAndMargin;
}

/* PARAGRAPHS */
.text-link {
  color: $colorPrimary;
}

/* Make link color like text color */
.text-p-color {
  color: $codGray;

  &:focus,
  &:hover {
    color: $colorPrimary;
  }
}

.text-large {
  font-size: calc($baseSize * 1.5);
}

.text-small {
  font-size: calc($baseSize * 0.75);
}

.text-tiny {
  font-size: calc($baseSize * 0.69);
}

.text-light {
  color: $colorTextLight;
}

.text-special {
  font-family: $fontSpecial;
}
