body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import "variables";
@import "extends/typography";

@import "../../bower_components/normalize-css/normalize.css";
@import "reboot";
@import "helpers";
@import "grid";
@import "typography";
@import "site";
@import "social-list";
@import "forms";
@import "components/input-groups";
