extends layouts/default

block content
  //- SITE HERO
  include includes/site-hero
  
  //- INTERESTING POSTS & LATEST COMMENTS
  include includes/homepage/section-a
  
  //- LATEST POSTS
  include includes/homepage/section-b
  
  //- HOT POSTS
  include includes/homepage/section-c
  
  //- POPULAR POSTS & LATEST VIDEO POSTS
  include includes/homepage/section-d
  
