ul.media
  li.media__item
    .media__left-side
      .frame
        a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
        
    .media__right-side
      a.text-p-color.text-small.mb1(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      div.text-small
        | <span class="text-light">Style by</span> <a href="#">John Doe</a>
        
  li.media__item
    .media__left-side
      .frame
        a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
        
    .media__right-side
      a.text-p-color.text-small.mb1(href="#") Lorem ipsum dolor sit amet, consectetur.
      div.text-small
        | <span class="text-light">Style by</span> <a href="#">John Doe</a>
  
  li.media__item
    .media__left-side
      .frame
        a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
        
    .media__right-side
      a.text-p-color.text-small.mb1(href="#") Lorem ipsum dolor sit amet.
      div.text-small
        | <span class="text-light">Style by</span> <a href="#">John Doe</a>
