section.mb5
  .container
    .row
      .col-md-9
        .panel
          .panel-heading
            h2.panel-title Hot Posts
          .panel-body
            .row
              .col-md-6.mb2
                .row
                  .col-sm-6
                    .frame.mb1
                      a.frame-link(href="#"): img(src="http://placehold.it/240x395", alt="")
                      .frame-ribbon
                        time.datetime(datetime="07-15-1991")
                          | 15<sup>th</sup> <span class="text-small">December</span>
                  
                  .col-sm-6
                    .text-small.mb1
                      a(href="#") Family 
                      span.text-light by 
                      a(href="#") Aleks Tomson
                    
                    p: a.text-p-color(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nemo, at.
                    
                    p.text-light.text-small.mb1
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit velit pariatur atque asperiores similique quidem enim, quisquam molestias ipsa inventore aliquam mollitia laudantium eius maiores itaque, doloremque doloribus natus.
                    
                    .text-small.mb2
                      a(href="#").mr1
                        i.fa.fa-comment-o
                        span.text-light  29
                        
                      a(href="#")
                        i.fa.fa-heart-o
                        span.text-light  47
                      
                    a.btn(href="#") Learn more
                
              .col-md-6
                .mb2
                  .frame.mb1
                    a.frame-link(href="#"): img(src="http://placehold.it/370x160", alt="")
                    .frame-ribbon
                      time.datetime(datetime="07-15-1991")
                        | 15<sup>th</sup> <span class="text-small">December</span>
                  .text-small
                    a(href="#") Family 
                    span.text-light by 
                    a(href="#") Aleks Tomson
                  
                  p: a.text-p-color(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing.
                  
                  p.text-light.text-small.mb1
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit velit pariatur atque asperiores similique quidem enim, quisquam molestias ipsa inventore aliquam mollitia laudantium eius maiores itaque, doloremque doloribus natus.
                    
                  .text-small.mb2
                    a(href="#").mr1
                      i.fa.fa-comment-o
                      span.text-light  29
                      
                    a(href="#")
                      i.fa.fa-heart-o
                      span.text-light  47
                    
                  a.btn(href="#") Learn more
                
              .col-md-12
                .row
                  .col-md-3
                    .frame.mb1
                      a.frame-link(href="#"): img(src="http://placehold.it/240x167", alt="")
                      .frame-ribbon
                        time.datetime(datetime="07-15-1991")
                          | 15<sup>th</sup> <span class="text-small">December</span>
                  .col-md-9
                    .l-flex-alpha
                      .text-small
                        a(href="#") Family 
                        span.text-light by 
                        a(href="#") Aleks Tomson
                      .text-small
                        a(href="#").mr1
                          i.fa.fa-comment-o
                          span.text-light  29
                          
                        a(href="#")
                          i.fa.fa-heart-o
                          span.text-light  47
                    
                    p: a.text-p-color(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    
                    p.text-light.text-small.mb1
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit velit pariatur atque asperiores similique quidem enim, quisquam...
                      
                    a.btn(href="#") Learn more
          
      .col-md-3
        .panel.mb2
          .panel-heading
            h2.panel-title Categories
          .panel-body
            ul.list-unstyle
              li: a.text-p-color(href="#") Family
              li: a.text-p-color(href="#") Style
              li: a.text-p-color(href="#") Food
              li: a.text-p-color(href="#") Recipes
              li: a.text-p-color(href="#") Health
              li: a.text-p-color(href="#") Sports
              li: a.text-p-color(href="#") Business
        
        a(href="#"): img(src="http://placehold.it/170x340", alt="")
            
