section.mb5
  .container
    .row
      .col-md-10
        .panel
          .panel-heading
            h2.panel-title Hot Posts
          .panel-body
            .row
              .col-md-6
                p Post 1
              .col-md-6
                p Post 2
              .col-md-12
                p Post 3
          
      .col-md-2
        .panel.mb2
          .panel-heading
            h2.panel-title Categories
          .panel-body
            ul.list-unstyle
              li: a.text-p-color(href="#") Family
              li: a.text-p-color(href="#") Style
              li: a.text-p-color(href="#") Food
              li: a.text-p-color(href="#") Recipes
              li: a.text-p-color(href="#") Health
              li: a.text-p-color(href="#") Sports
              li: a.text-p-color(href="#") Business
        .panel
          .panel-heading
            h2.panel-title Advertise
          .panel-body
