section.mb5
  .container
    .row.l-flex
      .col-md-8
        .panel
          .panel-heading
            h2.panel-title Interesting Posts
          .panel-body
            .row
              .col-md-9
                .frame.mb1
                  a.frame-link(href="#"): img(src="http://placehold.it/540x334", alt="")
                  .frame-ribbon
                    time.datetime(datetime="07-15-1991")
                      | 15<sup>th</sup> <span class="text-small">December</span>
                .l-flex-alpha
                  .text-small
                    a(href="#") Family 
                    span.text-light by 
                    a(href="#") Aleks Tomson
                  .text-small
                    a(href="#")
                      i.fa.fa-comment-o
                      span.text-light  29
                      
                    a(href="#")
                      i.fa.fa-heart-o
                      span.text-light  47
                
                p: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, corporis necessitatibus!
                
                p.text-light.text-small.mb2
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit velit pariatur atque asperiores similique quidem enim, quisquam molestias ipsa inventore aliquam mollitia laudantium eius maiores itaque, doloremque doloribus natus.
                  
                a.btn(href="#") Learn more
                  
              .col-md-3
                .frame.mb1
                  a.frame-link(href="#"): img(src="http://placehold.it/140x127", alt="")
                  .frame-ribbon
                    time.datetime(datetime="07-15-1991")
                      | 4<sup>th</sup> <span class="text-small">September</span>
                      
                .text-small.mb1
                  a(href="#") Family 
                  span.text-light by 
                  a(href="#") Aleks Tomson
                
                a.text-small.mb2(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing.
                
                .frame.mb1
                  a.frame-link(href="#"): img(src="http://placehold.it/140x127", alt="")
                  .frame-ribbon
                    time.datetime(datetime="07-15-1991")
                      | 5<sup>th</sup> <span class="text-small">September</span>
                      
                .text-small.mb1
                  a(href="#") Family 
                  span.text-light by 
                  a(href="#") Aleks Tomson
                
                a.text-small(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing.
        
      .col-md-4
        .panel
          .panel-heading
            h3.panel-title Latest Comments
          .panel-body
            ul.media
              - var i = 1
              while i < 4
                li.media__item
                  .media__left-side
                    .frame
                      a.frame-link.frame--circle(href="#"): img(src="http://placehold.it/70x70", alt="#{i++}")
                      
                  .media__right-side
                    .mb1
                      time.text-small.text-light.text-special(datetime="")
                        | 15:30 - 19<sup>th</sup> January
                    blockquote.text-small.mb1
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae perspiciatis repellat voluptatum?
                      
                    .l-flex-alpha.text-small
                      div
                        | <span class="text-light">By</span> <a href="#">John Doe</a>
                      a(href="#")
                        i.fa.fa-reply
                        |  Reply
            
      
