section.mb5
  .container
    .row
      .col-md-3
        .panel.mb2
          .panel-heading
            h2.panel-title Popular Posts
          .panel-body
            ul.media
              li.media__item
                .media__left-side
                  .frame
                    a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
                    
                .media__right-side
                  a.text-p-color.text-small.mb1(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  div.text-small
                    | <span class="text-light">Style by</span> <a href="#">John Doe</a>
                    
              li.media__item
                .media__left-side
                  .frame
                    a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
                    
                .media__right-side
                  a.text-p-color.text-small.mb1(href="#") Lorem ipsum dolor sit amet, consectetur.
                  div.text-small
                    | <span class="text-light">Style by</span> <a href="#">John Doe</a>
              
              li.media__item
                .media__left-side
                  .frame
                    a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
                    
                .media__right-side
                  a.text-p-color.text-small.mb1(href="#") Lorem ipsum dolor sit amet.
                  div.text-small
                    | <span class="text-light">Style by</span> <a href="#">John Doe</a>
    
        
        .panel
          .panel-heading
            h2.panel-title Advertise
          .panel-body
          
      .col-md-8
        .panel
          .panel-heading
            h2.panel-title Latest Video Posts
          .panel-body
            .row
              .col-md-8
                .frame.mb1
                  a.frame-link(href="#"): img(src="http://placehold.it/540x334", alt="")

                .l-flex-alpha
                  .text-small
                    a(href="#") Family 
                    span.text-light by 
                    a(href="#") Aleks Tomson
                  .text-small
                    a(href="#")
                      i.fa.fa-comment-o
                      span.text-light  29
                      
                    a(href="#")
                      i.fa.fa-heart-o
                      span.text-light  47
                
                p: a.text-p-color(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, corporis necessitatibus!
                
                p.text-light.text-small.mb2
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit velit pariatur atque asperiores similique quidem enim, quisquam molestias ipsa inventore aliquam mollitia laudantium eius maiores itaque, doloremque doloribus natus.
                  
                a.btn(href="#") Learn more
                  
              .col-md-4
                
                .mb2
                  a.text-small.text-p-color(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing.
                  
                  p.text-light.text-small
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet tempore repellendus minus.
                    
                  .l-flex-alpha
                    .text-tiny
                      a(href="#") Family 
                      span.text-light by 
                      a(href="#") Aleks Tomson
                    time.text-tiny.text-link(datetime="") 11<sup>th</sup>February
                    
                .mb2
                  a.text-small.text-p-color(href="#") Lorem ipsum dolor sit amet.
                  
                  p.text-light.text-small
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex!
                    
                  .l-flex-alpha
                    .text-tiny
                      a(href="#") Family 
                      span.text-light by 
                      a(href="#") Aleks Tomson
                    time.text-tiny.text-link(datetime="") 11<sup>th</sup>February
                    
                .mb2
                  a.text-small.text-p-color(href="#") Lorem ipsum dolor sit amet.
                  
                  p.text-light.text-small
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex!
                    
                  .l-flex-alpha
                    .text-tiny
                      a(href="#") Family 
                      span.text-light by 
                      a(href="#") Aleks Tomson
                    time.text-tiny.text-link(datetime="") 11<sup>th</sup>February
      
      
