meta(charset="utf-8")
meta(name="description", content="")
meta(name="viewport" content="width=device-width, initial-scale=1")
title LadyPress Magazine

link(rel="stylesheet", href="apple-touch-icon.png")
// Place favicon.ico in the root directory

//- FontAwesome CDN
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
  
// build:css styles/vendor.css
// bower:css
// endbower
// endbuild
// build:css styles/main.css
link(rel="stylesheet", href="styles/main.css")
// endbuild
// build:js scripts/vendor/modernizr.js async
script(src="/bower_components/modernizr/modernizr.js")
// endbuild
