.site-pagination
  div
    span.p-navigate.disabled Prev Page
  
  ul.p-page-number.list-inline
    li: a(href="#") 1
    li: a(href="#") 2
    li.active: span 3
    li: a(href="#") 4
    li: a(href="#") 5
    
  div
    a.p-navigate(href="#") Next Page
  
