footer.site-footer
  section.extra
    .container
      .row
        .col-md-4
          .panel
            .panel-heading
              include site-name
            .panel-body
              p.text-light.text-small.mb2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsam dicta, voluptates expedita impedit, totam quam, soluta maiores magnam reiciendis et molestias.
              
              h3.panel-title.panel-title--small Follow us
              include social-list
          
        .col-md-4
          .panel
            .panel-heading
              h3.panel-title.panel-title--small Popular Posts
              .panel-addon
                a(href="#"): i.fa.fa-chevron-left
                a(href="#"): i.fa.fa-chevron-right
            .panel-body
              ul.media
                li.media__item
                  .media__left-side
                    .frame
                      a.frame-link(href="#"): img(src="http://lorempixel.com/70/70/cats", alt="")
                      
                  .media__right-side
                    a.text-p-color.text-small.mb1(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    div.text-small
                      | <span class="text-light">Style by</span> <a href="#">John Doe</a>
                      
                li.media__item
                  .media__left-side
                    .frame
                      a.frame-link(href="#"): img(src="http://lorempixel.com/70/70/nature", alt="")
                      
                  .media__right-side
                    a.text-p-color.text-small.mb1(href="#")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minus.
                    div.text-small
                      | <span class="text-light">Style by</span> <a href="#">John Doe</a>
        
        .col-md-4
          .panel
            .panel-heading
              h3.panel-title.panel-title--small Latest Posts
              .panel-addon
                a(href="#"): i.fa.fa-chevron-left
                a(href="#"): i.fa.fa-chevron-right
            .panel-body
              .frame
                a.frame-link(href="#"): img(src="http://lorempixel.com/310/134/nature", alt="")
              p.text-small
                a.text-p-color(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus placeat, doloremque voluptatibus.
          
  section.copyright
    span.text-link.text-small Copyright &copy; 2016 LadyPress. All rights reserved.
      
