header.site-header.mb5
  .container
    .row.mb2
      .col-sm-4
        include site-name
        
      .col-sm-8
        include social-list
    
    .row
      .col-md-10
        nav.site-nav(role="navigation")
          ul.nav
            li: a(href="/") Home
            li: a(href="blog-layout-1.html") Family
            li: a(href="blog-layout-2.html") Style
            li: a(href="#") Food
            li: a(href="#") Recipes
            li: a(href="#") Health
            li: a(href="#") Sports
            li: a(href="blog.html") Blog
            li: a(href="contact.html") Contact
            
      .col-md-2
        form(action="/", method="GET")
          .input-group
            label.sr-only(for="searchForm") Search
            input.form-control#searchForm(type="search", placeholder="Search...")
            button.input-group-addon(type="submit"): i.fa.fa-search
            
            
        
