footer.site-footer
  section.padding
    .container
      .row
        .col-md-4
          .panel
            .panel-heading
              include site-name
            .panel-body
              p.text-light.text-small
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsam dicta, voluptates expedita impedit, totam quam, soluta maiores magnam reiciendis et molestias.
              
              h3.heading-small Follow us
              include social-list
          
        .col-md-4
          .panel
            .panel-heading
              h3.panel-title-small Popular Posts
              .panel-addon
                a(href="#"): i.fa.fa-chevron-left
                a(href="#"): i.fa.fa-chevron-right
            .panel-body
              .l-flex
                .frame
                  a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
                div
                  a.text-small(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dignissimos quasi consequuntur.
                  div
                    | Style by <a href="#">John Doe</a>
              .l-flex
                .frame
                  a.frame-link(href="#"): img(src="http://placehold.it/70x70", alt="")
                div
                  a.text-small(href="#")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minus.
                  div
                    | Style by <a href="#">John Doe</a>
        
        .col-md-4
          .panel
            .panel-heading
              h3.panel-title-small Latest Posts
              .panel-addon
                a(href="#"): i.fa.fa-chevron-left
                a(href="#"): i.fa.fa-chevron-right
            .panel-body
              .frame
                a.frame-link(href="#"): img(src="http://placehold.it/310x134", alt="")
              p.text-small
                a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus placeat, doloremque voluptatibus.
          
  section.padding-small
    span.text-link Copyright &copy; 2016 LadyPress. All rights reserved.
      
