section.mb5
  .container
    .row.l-flex
      .col-md-6
        .frame
          a.frame-link(href="#"): img(src="http://placehold.it/570x448", alt="")
          .frame-ribbon
            time.datetime(datetime="07-15-1991")
              | 15<sup>th</sup> <span class="text-small">December</span>
          .frame-text
            a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi.
          
      .col-md-3
        .frame
          a.frame-link(href="#"): img(src="http://placehold.it/270x210", alt="")
          .frame-ribbon
            time.datetime(datetime="07-15-1991")
              | 22<sup>th</sup> <span class="text-small">January</span>
          .frame-text
            a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing.
            
        .frame.stick-bottom
          a.frame-link(href="#"): img(src="http://placehold.it/270x210", alt="")
          .frame-ribbon
            time.datetime(datetime="07-15-1991")
              | 1<sup>st</sup> <span class="text-small">July</span>
          .frame-text
            a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptatum, quisquam.
        
      .col-md-3
        .frame
          a.frame-link(href="#"): img(src="http://placehold.it/270x448", alt="")
          .frame-ribbon
            time.datetime(datetime="07-15-1991")
              | 21<sup>th</sup> <span class="text-small">May</span>
          .frame-text
            a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
