ul.list-inline.social-list
  li.social-list--a
    a(href="#"): i.fa.fa-twitter
  li.social-list--b
    a(href="#"): i.fa.fa-facebook
  li.social-list--c
    a(href="#"): i.fa.fa-linkedin
  li.social-list--d
    a(href="#"): i.fa.fa-instagram
  li.social-list--e
    a(href="#"): i.fa.fa-google-plus
  li.social-list--f
    a(href="#"): i.fa.fa-youtube
